@font-face {
    font-family: JBMono;
    src: url(font-folder/JetBrainsMono-Regular.woff2);
}

body {
    background-image: linear-gradient(to right, rgb(85, 205, 252), rgb(179, 157, 233), rgb(247, 168, 184), rgb(246, 216, 221), rgb(255, 255, 255));
    font-family: JBMono;
}

.mainContainer {
    margin-left: 20%;
    margin-right: 20%;
}

.banner {
    background-color: #ebebed;
    box-shadow: 6px 6px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
}

.centerContainer {
    display: flex;
}

.sideBar {
    background-color: #ebebed;
    box-shadow: 6px 6px;
    display: grid;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    max-height: 300px;
}

.center {
    background-color: #ebebed;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
}

.footer {
    background-color: #ebebed;
    box-shadow: 6px 6px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
}
