@font-face {
    font-family: JBMono;
    src: url(font-folder/JetBrainsMono-Regular.woff2);
}

body {
    background-image: linear-gradient(to right, rgb(85, 205, 252), rgb(179, 157, 233), rgb(247, 168, 184), rgb(246, 216, 221), rgb(255, 255, 255));
    font-family: JBMono;
}

.mainContainer {
    margin-left: 3%;
    margin-right: 3%;
}
@media (min-width: 800px) {
	.mainContainer {
		margin-left: 8%;
		margin-right: 8%;
	}
}

.banner {
    background-color: #ebebed;
    box-shadow: 6px 6px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
}

.bannerText {
    text-shadow: 2px 2px rgb(247, 168, 184);
}

.navigation {
    background-color: rgb(247, 168, 184);
    box-shadow: 6px 6px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
	font-size: large;
    max-height: 50px;
	width: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 15px auto 15px auto;
	transition: font-size 0.5s;
}

.navigation:hover {
	font-size: x-large;
}

.navigation a:link {
    color: black;
}

.navigation a:visited {
    color: darkslategrey;
}

.centerWrapper {
	display: flex;
}

.center {
    background-color: #ebebed;
    border: 3px;
    border-radius: 5px 0px 0px 5px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
	width: 80%;
	transition: font-size 0.5s;
}
@media (min-width: 800px) {
	.center:active {
		font-size: large;
	}
}

.centerMisc {
    background-color: #ebebed;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
	transition: font-size 0.5s;
}
@media (min-width: 800px) {
	.centerMisc:active {
		font-size: large;
	}
}

.indexLinkContainer {
	display: grid;
	grid-template-columns: 150px 150px;
	column-gap: 20px;
	padding-bottom: 5px;
}

.status {
    background-color: #ebebed;
    border: 3px;
    border-radius: 0px 5px 5px 0px;
    border-style: solid;
	margin-left: 5px;
	margin-right: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0px;
	transition: font-size 0.5s;
}
@media (min-width: 800px) {
	.status:active {
		font-size: large;
	}
}

@media (max-width: 800px) {
	.centerWrapper {
		display: unset;
	}
	.center {
		border-radius: 5px 5px 0px 0px;
		width: 94.5%;
	}
	.status {
		margin-left: 15px;
		margin-top: 5px;
		border-radius: 0px 0px 5px 5px;
	}
}

.newstickerWrapper {
    background-color: rgb(247, 168, 184);
	margin-top: 5px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
	width: 100%;
	display: block;
	overflow: hidden;
}
.newsticker {
	font-size: x-large;
	white-space: pre;
	animation: newstickerAnimation 15s linear infinite;
}
.newsticker:hover {
	animation-play-state: paused;
}
@keyframes newstickerAnimation {
	0% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
}

.footer {
	margin-top: 10px;
    background-color: #ebebed;
    box-shadow: 6px 6px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
	transition: font-size 0.5s;
}
@media (min-width: 800px) {
	.footer:active {
		font-size: large;
	}
}
