@font-face {
    font-family: JBMono;
    src: url(font-folder/JetBrainsMono-Regular.woff2);
}

body {
    background-image: linear-gradient(to right, rgb(85, 205, 252), rgb(179, 157, 233), rgb(247, 168, 184), rgb(246, 216, 221), rgb(255, 255, 255));
    font-family: JBMono;
}

.mainContainer {
    margin-left: 15%;
    margin-right: 15%;
}

.banner {
    background-color: #ebebed;
    box-shadow: 6px 6px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
}

.bannerText {
    text-shadow: 2px 2px rgb(247, 168, 184);
}

.navigation {
    background-color: rgb(247, 168, 184);
    box-shadow: 6px 6px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
	font-size: large;
    max-height: 50px;
	width: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 15px auto 15px auto;
}

.navigation a:link {
    color: black;
}

.navigation a:visited {
    color: darkslategrey;
}

.center {
    background-color: #ebebed;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
}

.indexLinkContainer {
	display: grid;
	grid-template-columns: 150px 150px;
	column-gap: 20px
}

.footer {
    background-color: #ebebed;
    box-shadow: 6px 6px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
}
